In [15]:
emp_info={
    1000:['raghul ramesh','Python','Levin Lenus','India','Chennai',17],
    1001:['Bala Murugan','Big Data','Srivanand','USA','Dearborn',20],
}

for key in emp_info.keys():
    if key<=1000:
            print(emp_info[key][0] + " ===> " + emp_info[key][1]+" ===> " + emp_info[key][-2])

raghul ramesh ===> Python ===> Chennai

In [12]:
list(emp_info.keys())[0]

1000

# Definitions

In [16]:
def add_num(x,y):
    res=x+y
    return res

In [17]:
add_num(10,20)

30

In [18]:
add_num(5,6)

11

In [19]:
add_num(10)

TypeError: add_num() missing 1 required positional argument: 'y'

In [20]:
def add_num(x,y=0):    # Default argument
    return x+y

In [21]:
add_num(100,200)

300

In [22]:
add_num(100)

100

In [23]:
add_num(10,20,30,40,50)

TypeError: add_num() takes from 1 to 2 positional arguments but 5 were given

In [37]:
def add_num(x,y,*z):
#     print(x)
#     print(y)
#     print(z)
    return x+y+sum(z)

In [39]:
print(add_num(10,20,30,40,50,60,70,80,90,100))

550

In [40]:
def print_info(x,*y,**z):
    print(x)
    print(y)
    print(z)

In [41]:
print_info(10,20,30,40,50,name="Siva",location="Newjercy",age=30)

10
(20, 30, 40, 50)
{'name': 'Siva', 'location': 'Newjercy', 'age': 30}

In [45]:
def add_num(x,y):
    """add_num function must be called with two integer to get the sum of these."""
    return x+y

In [46]:
add_num(10,20)

30

In [47]:
add_num.__doc__

'add_num function must be called with two integer to get the sum of these.'

In [50]:
add_num(10,5)

15

# Variable Scope

In [54]:
#local scope and global scope

age=37    #global variable

def birthday():
    #age=100    #local variable
    global age
    age=age+1
    print("Age inside a function is :",age)  #100
    
print("Age before the function call:",age)    #37
birthday()
print("Age after the function call:",age)   #37

Age before the function call: 37
Age inside a function is : 38
Age after the function call: 38

In [65]:
def calc_area(r):
    area = 3.14*r**2
    print("Area of circle: " ,area)

In [66]:
calc_area(5)

Area of circle:  78.5

In [70]:
def calc_area(x,y=0):
    if y == 0:
        print("Area of the circle with radius {} cm is : {} cm2".format(x,0.5*x**2))
    else:
        print("Area of the rectangle with base : {} cm, height :{} cm is : {} cm2".format(x,y,x*y))

In [71]:
calc_area(5)

Area of the circle with radius 5 cm is : 12.5 cm2

In [72]:
calc_area(5,2)

Area of the rectangle with base : 5 cm, height :2 cm is : 10 cm2

# Special Functions

In [ ]:
'''
lambda
map
filter
reduce
'''

In [73]:
#lambda x,y:expr

(lambda x,y:x+y)(10,20)

30

In [74]:
(lambda x,y:x+y)(5,6)

11

In [75]:
#find a big number

(lambda x,y : x if x>y else y )(33,21)

33

In [76]:
(lambda x,y : x if x<y else y )(33,21)

21

In [77]:
def findbig(x,y):
    return (lambda x,y:x if x>y else y)(x,y)

In [78]:
findbig(100,55)

100

In [80]:
b=lambda x,y : x if x>y else y

In [81]:
b(10,20)

20

In [82]:
b(6,33)

33

In [83]:
b(433,32)

433

In [ ]:
# Create a lambda function to get sum and division of two number

In [84]:
(lambda x,y:x+y)(5,6)

11

In [85]:
(lambda x,y:x/y)(5,6)

0.8333333333333334

In [87]:
(lambda x,y:(x+y,x/y,"Capgemini"))(5,6)

(11, 0.8333333333333334, 'Capgemini')

# map function

In [88]:
list(map(lambda x:x**2, [1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [93]:
result=[]
for x in [1,2,3,4,5,6,7,8,9,10]:
    result.append((lambda x:x**2)(x))
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [97]:
#create a map function to print multiplicaiton of 5 upto 100

list(map(lambda x:x*5 , list(range(1,21))))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

# filter

In [101]:
list(filter(lambda x:x%5==0, list(range(1,101))))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [103]:
list(filter(lambda x:x.islower(),['CHENNAI','bangalore','MUMBAI','DELHI','kolkatta']))

['bangalore', 'kolkatta']

# reduce

In [105]:
def add_nums(x,y):
    return x+y

In [109]:
from functools import re
duce
reduce(lambda x,y:x*y, [1,2,3,4,5,6])

720

In [108]:
reduce(add_nums, [1,2,3,4,5,6])

21

In [114]:
def circle_area(r):
    return round(3.14*r*r,1)

In [115]:
list(map(circle_area,[1,2,3,4,5,6,7,8,9,10]))

[3.1, 12.6, 28.3, 50.2, 78.5, 113.0, 153.9, 201.0, 254.3, 314.0]

In [116]:
# DECORATORS

In [117]:
def squareit(nums):
    result=[]
    for x in nums:
        result.append(x**2)
    return result

x=list(range(1,11))
print(squareit(x))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [119]:
import time

def squareit(nums):
    result=[]
    start=time.time()
    for x in nums:
        result.append(x**2)
    end=time.time()
    print("Squareit function took ", str((end-start)*1000) + ' milli seconds')
    return result


def cubeit(nums):
    result=[]
    start = time.time()
    for x in nums:
        result.append(x**3)
    end = time.time()
    print("Cubeit function took ", str((end - start) * 1000) + ' milli seconds')
    return result

x=list(range(1,11))
print(squareit(x))
print(cubeit(x))

Squareit function took  0.0 milli seconds
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cubeit function took  0.0 milli seconds
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Function Vs Generator

In [126]:
import memory_profiler as mem_profile
import random
from time import process_time

print('Memory {BEFORE}'+str(mem_profile.memory_usage())+ ' MB')
name=['Raghul','Ramesh','Malini','Ashwin','Ramu','Elakya']
courses=['Engineering','Medicine','Arts','Science','Diplamo']

def people_courses(nums):
    result=[]
    for i in range(nums):
        person={
            'id':i,
            'name':random.choice(name),
            'dept':random.choice(courses)
        }
        result.append(person)
    return result

def course_generator(nums):
    for i in range(nums):
        person={
            'id':i,
            'name':random.choice(name),
            'dept':random.choice(courses)
        }
        yield person

start=process_time()
#people_courses(10000000)
course_generator(10000000)
end=process_time()
print('Memory {AFTER}'+str(mem_profile.memory_usage())+ ' MB')
print('Generator took', str((end-start)*1000) + ' milli seconds')

Memory {BEFORE}[101.86328125] MB
Memory {AFTER}[101.87109375] MB
Generator took 0.0 milli seconds

In [ ]:
Memory {BEFORE}[101.59765625] MB
Memory {AFTER}[102.359375] MB
Function took 9000.0 milli seconds

In [127]:
pip install memory_profiler

Requirement already satisfied: memory_profiler in c:\users\raghulramesh\appdata\local\programs\python\python38\lib\site-packages (0.60.0)
Requirement already satisfied: psutil in c:\users\raghulramesh\appdata\local\programs\python\python38\lib\site-packages (from memory_profiler) (5.9.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\users\raghulramesh\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.